<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">

    <title>View All Course for Skill</title>

    <link rel="stylesheet" href="">
    <!--[if lt IE 9]>
          <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    <!-- Bootstrap libraries -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>


</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="../home-HR.html">
                <img src="../Resources/Images/logo.png" alt="logo" width="120" height="55" class="d-inline-block align-text-middle">
            </a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" style="font-size: 20px !important;" aria-current="page" href="../home-HR.html">Home</a>
                    </li>
                </ul>
            </div>
            <div class="d-flex">
                <a class="btn btn-outline-primary btn-md" href="../login.html" role="button">Logout</a>
            </div>
        </div>
    </nav>

    <div id="app" class="container mt-5">

        <div class="table-title">
            <div class="">
                <h2>Update Courses for <span id="skill_name_span" style="font-weight: bold;"></span></h2>
            </div>
            <div class="row">
                <form class="row col-sm-8 g-3 mt-5">

                    <!-- <div class="col-auto">
                        <input type="text" class="form-control" id="inputSkill" placeholder="Search a course..." v-model="searchCourse">
                    </div> -->
                    <!-- <div class="col-auto">
                        <button type="submit" class="btn btn-primary mb-3" v-on:click="searchCourse()">Search</button>
                        <button type="submit" class="btn btn-secondary mb-3 ml-2" v-on:click="clearCourse()">Clear</button>
                    </div> -->
                </form>
            </div>
        </div>

        <table class="table table-striped table-hover mt-5">
            <thead>
                <tr>
                    <th scope="col">Course Name</th>
                    <th scope="col">Course Description</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="course in allCourses">
                    <th scope="row">{{course.name}}</th>
                    <td>{{course.description}}</td>
                   
                    

                    <td v-if = "chosenCourses.includes(course.id)" class="text-right"><button type="button" class="btn btn-warning" v-on:click="DropCourse(course.id)">Drop</button></td>
                    <td v-else class="text-right"><button type="button" class="btn btn-success" v-on:click="AddCourse(course.id)">Add</button></td>
                </tr>
            </tbody>
        </table>
        <br>
        <button class="btn btn-success" v-on:click="redirect()">Back to View All Learning Journeys</button>
    </div>

</body>
<script>
    var url_string = window.location;
    var url = new URL(url_string);
    var skillsid = url.searchParams.get("skillid");
    var skill_name = url.searchParams.get("skillname");
    var lj_id = url.searchParams.get("LJId");
    console.log(skillsid)
    console.log(skill_name)
    console.log(lj_id)
    document.getElementById("skill_name_span").innerHTML = skill_name;

    Vue.createApp({

        data() {
            return {
                success: '',
                error: '',
                skills_id: skillsid,
                allCourses: [],
                chosenCourses: []

            }

        },
        methods: {
            getAllCourses(skillsid) {
                console.log('get skillcourses by skillid')
                axios.get(' http://127.0.0.1:5000/skillcourses/' + skillsid)
                    .then(response => {

                        console.log('get skillcourses successful')
                        console.log(response.data.data)
                        this.allCourses = response.data.data
                        // all_courses_rec = response.data.data
                        // console.log(this.allCourses)
                        // for(record in all_courses_rec){
                        //     this.allCourses
                        // }

                        return false;
                    })
                    .catch(error => {
                        this.error = error.response.data.message
                        console.log("fail! ")
                        console.log(this.error)
                    });
            },
            

            getChosenCourses(){
                axios.get(' http://127.0.0.1:5000/get_courses_skill_LJ/' + lj_id + "/" + skillsid)
                    .then(response => {

                        console.log('get chosen courses successful')
                        console.log(response.data.data)
                        chosenCourses_rec = response.data.data
                        chosencourseslist = []
                        for(rec of chosenCourses_rec){
                            console.log(rec.Course_id)
                            chosencourseslist.push(rec.Course_id)
                        }
                        console.log('im printing chosen courses list')
                        console.log(chosencourseslist)
                        this.chosenCourses = chosencourseslist
                        console.log(this.chosenCourses)




                        
                    })
                    .catch(error => {
                        this.error = error.response.data.message
                        console.log("fail! ")
                        console.log(this.error)
                    });


            },

            AddCourse(id) {
                // axios.post("http://127.0.0.1:5000/addcoursetoLJ/" + this.courseId, {
                //         Learning_Journey_Id: this.lj_id,
                //         Skill_id: skill.id
                //     })
                //     .then(response => {

                //         console.log('Added succesfuly')
                //         // this.getCourses()
                //         location.reload()

                //         return false;
                //     })
                //     .catch(error => {
                //         this.error = error.response.data.message
                //         console.log('cannot add')
                //     });

                    axios.post("http://127.0.0.1:5000/create_LJ_course" , {
                        Course_id: id,
                        Learning_Journey_Id: lj_id,
                        Skill_id: skillsid
                    })
                    .then(response => {

                        console.log('Added succesfuly')
                        // this.getCourses()
                        location.reload()

                        return false;
                    })
                    .catch(error => {
                        this.error = error.response.data.message
                        console.log('cannot add course to LJ')
                    });


            },

            DropCourse(id) {

                if (confirm("Would you like to drop this course"  + " ?")) {
                    // console.log(course.id)
                    url = 'http://127.0.0.1:5000/delete_LJ_course/' + lj_id + "/" + skillsid + "/"+ id
                    axios.delete(url)
                        .then(response => {
                            console.log("Successfully Dropped");
                            // this.getCourses();
                            location.reload()
                            // this.deleteSuccess = skill.name + " sucessfully deleted!"
                        })
                        .catch(error => {
                            alert(error)
                            console.log('error in dropping')
                        });
                }
            },

            createLJ() {
                console.log(this.chosenCourses)
                console.log(roles_id)
                var Learning_Journey_id;
                axios.post("http://127.0.0.1:5000/createLJ", {
                        Roles_id: roles_id,
                        Staff_ID: "130001",
                        Completion_Status: "In Progress"
                    })
                    .then(response => {

                        console.log('Added succesfully')
                        console.log(response)
                        console.log(response.data.data)
                        LJ_id = response.data.data[0].id
                        console.log(LJ_id)
                        Learning_Journey_id = LJ_id

                        for (course of this.chosenCourses) {
                            console.log(course)
                            console.log(Learning_Journey_id)
                            console.log('end')
                            axios.post("http://127.0.0.1:5000/create_LJ_course", {
                                    Course_id: course,
                                    Skill_id: skillsid,
                                    Learning_Journey_Id: Learning_Journey_id
                                })
                                .then(response => {

                                    console.log('Added LJ_course succesfully')
                                    console.log(response)
                                    console.log(response.data.data)

                                    //window.location.replace("./view-skills.html");
                                    return false;
                                })
                                .catch(error => {
                                    this.error = error.response.data.message
                                    console.log('cannot add lj course')
                                });



                            //window.location.replace("./view-skills.html");

                        }
                    })
                    .catch(error => {
                        this.error = error.response.data.message
                        console.log('cannot add')
                    });

            },
            redirect(){
                window.location.href = "./view_learning_journey.html"

            }

        },
        mounted: function() {
            console.log("im inside b4 mount ")
            // console.log(skillsid)
            this.getAllCourses(skillsid)
            this.getChosenCourses()

            

        }

    }).mount("#app")
</script>

</html>