<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">

    <title>Set Target Role</title>

    <link rel="stylesheet" href="">
    <!--[if lt IE 9]>
          <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    <!-- Bootstrap libraries -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>


</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="../home-STAFF.html">
                <img src="../Resources/Images/logo.png" alt="logo" width="120" height="55" class="d-inline-block align-text-middle">
            </a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" style="font-size: 20px !important;" aria-current="page" href="../home-STAFF.html">Home</a>
                    </li>
                </ul>
            </div>
            <div class="d-flex">
                <a class="btn btn-outline-primary btn-md" href="../login.html" role="button">Logout</a>
            </div>
        </div>
    </nav>

    <div style="margin-left: 50px; margin-top: 30px; margin-bottom: -30px;">
        <button class="btn btn-outline-primary" onclick="history.back()"> < Back</button>
    </div>

    <div id="app" class="container mt-5">

        <div class="table-title">
            <div>
                <h2>View All Roles</h2>
                <p style="font-style: italic;">Select the role you want to set as your target in your learning journey</p>
            </div>
        </div>
        <div v-if="!allRoles.length">
            No Roles Available!
        </div>
        <table v-else class="table table-striped table-hover mt-3">

            <thead>
                <tr>
                    <th scope="col">Role ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col"></th>

                </tr>
            </thead>
            <tbody>
                <tr v-for="role in allRoles ">
                    <th scope="row">{{role.id}}</th>
                    <td>{{role.name}}</td>
                    <td>{{role.description}}</td>
                    <td  v-if ="alrChosenRoles.includes(role.id)" class="select-role-list text-right">
                        <button type="button" class="select-role-btn btn btn-success" v-on:click="select_role(role)" disabled>Select Role</button>
                    </td>
                    <td  v-else class="select-role-list text-right">
                        <button type="button" class="select-role-btn btn btn-success" v-on:click="select_role(role)" >Select Role</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="mt-3 text-center">
            <button id="" class="btn btn-secondary" v-on:click="cancel()">Cancel</button>
        </div>

    </div>
</body>
<script>
     var url_string = window.location;
    var url = new URL(url_string);
    var staff_id = url.searchParams.get("staffID")
    console.log(staff_id)
    staff_id = "130001"
    Vue.createApp({

        data() {
            return {
                success: '',
                error: '',
                allRoles: [],
                searchRole: "",
                alrChosenRoles : []
                    // RoleId: 0,
                    // Rolename: '',
                    // Roledesc: '',
                    //Roleskill:''

            }


        },
        methods: {
            getRoles() {
                // event.preventDefault();
                console.log('get role called')
                axios.get('http://127.0.0.1:5000/roles')
                    .then(response => {
                        // this.success = "Successfully Retrieved"
                        // allRoles = response.data
                        console.log("I have retrieved")
                        this.allRoles = response.data.data
                        return false;
                    })
                    .catch(error => {
                        this.error = error.response.data.message

                    });
            },

            

            getAlrChosenRoles(){
                console.log(staff_id)
                console.log('inside getting roles alr in LJ')
                url = "http://127.0.0.1:5000/rolesinLJalr/" + staff_id
                axios.get(url)
                .then(response => {
                        
                        console.log(response.data.data)
                        records = response.data.data
                        already_chosen_roles = []
                        for (record of records){
                            console.log("for loop")
                            console.log(record.Roles_id)
                            already_chosen_roles.push(record.Roles_id)

                        }
                        console.log(already_chosen_roles)
                        this.alrChosenRoles = already_chosen_roles

                      
                       

                        
                    })
                    .catch(error => {
                        this.error = error.response.data.message
                        console.log('unable to get already chosen roles in LJ database by the staff')

                    });
                



            },

           

            select_role(role) {

                // axios.post('view_skills.html', {
                //     roleID: role.id,
                //     roleName: role.name,
                //     roleDescription: role.description
                // })
                // .then(res)

                window.location.href = "./view_skills_for_role.html?roleid=" + role.id + "&rolename=" + role.name + "&roledesc=" + role.description
            },
            cancel(){
                window.location.href = "./view_learning_journey.html"

            }

        },
        mounted: function() {
                console.log("im inside b4 mount")
                this.getRoles()
                this.getAlrChosenRoles()
            }
            // watch: {
            //         roleSearch: function() {
            //             console.log("search called")
            //             if (this.searchRole !== '') {

        //                 axios.get('http://127.0.0.1:5000/roles?role=' + this.searchRole)
        //                 .then(response => {
        //                     this.allRoles = response.data.data;
        //                 })
        //                 .catch(error => alert(error));
        //             }
        //         }
        // }

    }).mount("#app")
</script>

</html>