<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    <title>View All Your Courses</title>
    <link rel="stylesheet" href="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="../home-STAFF.html">
                <img src="../Resources/Images/logo.png" alt="logo" width="120" height="55" class="d-inline-block align-text-middle">
            </a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" style="font-size: 20px !important;" aria-current="page" href="../home-STAFF.html">Home</a>
                    </li>
                </ul>
            </div>
            <div class="d-flex">
                <a class="btn btn-outline-primary btn-md" href="../login.html" role="button">Logout</a>
            </div>
        </div>
    </nav>

    <div style="margin-left: 50px; margin-top: 30px; margin-bottom: -30px;">
        <button class="btn btn-outline-primary" onclick="history.back()"> < Back</button>
    </div>

    <div id="app" class="container mt-5">
        <div class="table-title">
            <div class="">
                <h2>View All Your Courses</h2>
                <p style="font-style: italic;">View <strong>all</strong> the courses that you have added. Click on the "Remove" button to remove the course from that particular Learning Journey.</p>
            </div>
            
        </div>

        <table v-else class="table table-striped table-hover mt-3">
            <thead>
                <tr class="text-center">
                    <th scope="col">Learning Journey (Target Role)</th>
                    <th scope="col">Skill Name</th>
                    <th scope="col">Course ID</th>
                    <th scope="col">Course Name</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(item, index) in allLJ" :key="item" class="text-center">
                    <td scope="col">{{roleNameList[index]}}</td>
                    <td scope="col">{{skillNameList[index]}}</td>
                    <td scope="col">{{item.Course_id}}</td>
                    <td scope="col">{{courseNameList[index]}}</td>
                    <td>
                        <button type="button" class="btn btn-warning" v-on:click="DropCourse(item)">Remove</button>
                    </td>
                    <!-- <td class="select-LJ-list text-right">
                        <button type="button" class="select-role-btn btn btn-warning" v-on:click="Update_LJ(lj.id)">Update</button>&nbsp;&nbsp;
                        <button type="button" class="select-role-btn btn btn-danger" v-on:click="delete_LJ(lj.id)">Delete</button>
                    </td> -->
                </tr>
            </tbody>
        </table>
        <div v-if="successDrop != ''" class="alert alert-success" role="alert">
            Dropped Course from Learning Journey Successfully
        </div>
    </div>

</body>

<script>    
    Vue.createApp({
        data() {
            return {
                successDrop: '',
                error: '',
                allLJ: [],
                roleNameList: [],
                skillNameList: [],
                courseNameList: [],
                LJList: {}
            }
        },
        methods: {
            getCourse(){
                axios.get('http://127.0.0.1:5000/get_course_LJ/')
                    .then(response => {
                        this.success = "Successfully Retrieved"
                        this.allLJ = response.data.data[0]
                        //json_role_id = response.data.data[1]
                        //json_role_names = response.data.data[2]

                        //Get Target Role Names
                        let promises = []
                        for (item of this.allLJ) {
                            url = 'http://127.0.0.1:5000/LearningJourney/' + item.Learning_Journey_Id
                            promises.push(axios.get(url))
                        }

                        Promise.all(promises)
                            .then(responses => {
                                let promises_1 = []
                                for (item of responses){
                                    url2 = 'http://127.0.0.1:5000/roles/' + item.data.data.Roles_id
                                    promises_1.push(axios.get(url2))
                                }
                                Promise.all(promises_1)
                                    .then(responses_1 => {
                                        for (item of responses_1){
                                            this.roleNameList.push(item.data.data.name)
                                        }
                                    })
                            }
                        )
                        
                        //Get Skill Name
                        let promises_2 = []
                        for (item of this.allLJ) {
                            url = 'http://127.0.0.1:5000/skills/' + item.Skill_id
                            promises_2.push(axios.get(url))
                        }

                        Promise.all(promises_2)
                            .then(responses_2 => {
                                for (item of responses_2){
                                    this.skillNameList.push(item.data.data.name)
                                }
                            })

                        //Get Course Name
                        let promises_3 = []
                        for (item of this.allLJ) {
                            url = 'http://127.0.0.1:5000/courses/' + item.Course_id
                            promises_3.push(axios.get(url))
                        }

                        Promise.all(promises_3)
                            .then(responses_3 => {
                                for (item of responses_3){
                                    this.courseNameList.push(item.data.data.name)
                                }
                            })
                        
                        return false;
                    })
                    .catch(error => {
                        this.error = error.response.data.message
                    });
            },
            DropCourse(item) {
                if (confirm("Would you like to drop " + item.Course_id + "?")) {
                    console.log(item)
                    url = 'http://127.0.0.1:5000/delete_LJ_course/' + item.Learning_Journey_Id + "/" + item.Skill_id + "/"+ item.Course_id
                    axios.delete(url)
                        .then(response => {
                            console.log("Successfully Dropped");
                            this.successDrop = "Dropped Course from Learning Journey Successfully"
                            setTimeout(() => {  console.log("World!"); }, 6000);
                            location.reload()
                        })
                        .catch(error => {
                            alert(error)
                            console.log('error in dropping')
                        });
                }
            }
        },
        mounted: function() {
            this.getCourse()
        }
    }).mount("#app")
</script>

</html>